<div *ngIf="isLoggedIn$ | async as isLoggedIn">

  <nav id="navbarId" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Utility App</a>
          </div>
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a href="#" class="hvr-underline-from-center" [routerLink]="['home']">Home</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a href="#" class="hvr-underline-from-center" [routerLink]="['publish']">Publish Schedules</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a href="#" class="hvr-underline-from-center" [routerLink]="['runInmediately']">Run Schedules Inmediately</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="hvr-underline-from-center" style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
